<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти">
    </form>
    <a href="/blog/filter/result">Поиск</a>
    <a href="/blog/add"> Добавить статью</a>
    <div th:each = "el : ${posts}">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.anons}"></p>
        <p th:text="${el.authorName}"></p>
        <a th:href="'/blog/' + ${el.id}">Делатьное</a>
    </div>
</body>
</html>